.products{
        height: auto;
        width: 100%;
        position:relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
         padding: 50px;
    }
    .products img{
        width: 350px;
        height: 350px;
    }
    .aco_guitar{
        color: black;
        background-color: #fff;
        height: 450px;
        width: 350px;
        padding: 5px;  
        margin: 50px; 
        box-shadow: 0 0 26px 3px #72c1f8; 
        border-radius: 5px;
    }
    
    .items a{
        text-align: center;
        text-transform:capitalize;
        text-decoration: none;
        list-style: none;
    }
    .items{
        display: flex;
        justify-content: center;
    }
    